.container {
  min-height: calc(100vh - 81px);
  max-width: 1200px;
  width: 100%;

  margin: auto;
  padding: 91px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 200ms ease-in-out;
}

.item {
  position: relative;
  padding: 1rem;
  margin: 1rem 0;

  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 24px;

  overflow: visible;

  cursor: pointer;

  transition: 200ms;
}

.mockup_box {
  width: 300px;
  /* background-color: #f1f1f1; */
  border-radius: 8px;
  transition: 200ms;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mockup_box img {
  object-fit: cover;
  height: 300px;
  padding: 16px;
}

.desc_box {
  width: 100%;
  padding: 1rem;

  width: 500px;
}

.app_header {
  display: flex;
  gap: 16px;
  align-items: end;
  margin-bottom: 0.5rem;
}

.title_description {
  margin-bottom: 0.5rem;
}

.challengers {
  color: rgb(139, 139, 139);
  margin-bottom: 1.5rem;
}

.tags {
  color: rgb(139, 139, 139);
}
