.header {
    background-color: #0e141b;
    padding: 24px 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.myName {
    margin-top: 8px;
}