.container {
}

.container .bar {
  background-color: aliceblue;
  padding: 0.25rem 1.5rem;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container nav {
  /* background: pink; */
  display: flex;
  gap: 8px;
  align-items: center;
}

.container .avatar {
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: #f0f0f0 2px solid;
}
