.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 1.5rem;
  margin-top: 81px;
  height: calc(100vh - 100px);
  transition: 200ms ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.text_box {
  /* background-color: aliceblue; */
  width: 60%;
}

.text_box .me {
  display: flex;
  gap: 16px;
  align-items: end;
  margin-bottom: 3rem;
}

.me img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.text_box h1 {
  line-height: 2.3rem;
  margin: 1.5rem 0;
}

.text_box .description p {
  color: gray;
  margin-bottom: 4px;
}

.cta {
  background-color: black;
  color: white;
  padding: 8px 12px;
  margin-top: 2.3rem;

  width: 90%;
  font-size: 1.1rem;

  cursor: pointer;
}

.cta:hover {
  background: aliceblue;
  color: black;
}

.illustration_box {
  width: 40%;
  height: fit-content;
  background-color: aliceblue;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration_box > img {
  width: 140%;
}

.gradient {
  display: inline;
  background: linear-gradient(20deg, rgb(47, 0, 255) 0, rgb(0, 204, 255) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media (max-width: 768px) {
  .container {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .text_box {
    max-width: 600px;
    width: 100%;
    height: fit-content;
  }
}
