.hero-container {
    position: relative;
    background-color: rgb(4, 17, 29);
    color: aliceblue;
}

.hero-content-box {
    min-height: 100vh;
    display: flex;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.intro-container {
    width: 65%;
    padding: 24px;
    display: flex;

    justify-content: center;
    flex-direction: column;

}

.image-container {
    overflow: none;
    width: 35%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* content */


.hero-img {
    width: 90%
}

.intro-title {
    font-size: 4rem;
    line-height: 4rem;
    max-width: 600px;
    width: 100%;
    margin: 24px 0;
}

.short-description {
    font-size: 1.4rem;
    width: 100%;
}

.continue-button {

    margin: 32px 0;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.2rem !important;
    transition: 400ms;
    border-bottom: 4px solid transparent;
    width: 200px;
    cursor: pointer;
    color: white;
}

.continue-button:hover {
    border-bottom: 4px solid #1da1f2;
}

@media(max-width:425px) {
    .hero-content-box {
        flex-direction: column-reverse;
    }

    .intro-container {
        width: 100%;
    }

    .image-container {
        width: 100%;

    }
}