.myservices-container {

    background-color: aliceblue;
}

.myservices-content {
    min-height: 100vh;
    height: 100%;
    padding: 24px;
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    margin: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.myservices-content img {
    max-width: 400px;
    position: relative;
    left: 60px;

}

.myservices-content p {
    font-size: 1.4rem;
    max-width: 700px;
    text-align: center;

}

.buttons {
    margin-top: 24px;
    display: flex;

    flex-direction: column;
    gap: 32px;
}

.teste {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
}

@media(max-width:768px) {
    .teste {
        flex-direction: column-reverse;
    }

    .myservices-content img {
        display: none;

    }

    .buttons {
        flex-direction: row;
        justify-content: center;
    }
}