@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  font-family: "Poppins";
}

/* Estiliza o contêiner da scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Largura da scrollbar */
  height: 4px; /* Altura da scrollbar, para rolagem horizontal */
}

/* Estiliza o "polegar" da scrollbar, a parte que se move */
::-webkit-scrollbar-thumb {
  background-color: #89c5f0; /* Cor do polegar */
  border-radius: 6px; /* Bordas arredondadas */
}

/* Estiliza o "polegar" da scrollbar quando é pressionado/ativo */
::-webkit-scrollbar-thumb:active {
  background-color: #1b97e7; /* Cor do polegar quando pressionado */
}

/* Estiliza a parte da scrollbar de fundo */
::-webkit-scrollbar-track {
  background-color: #f0f8ff; /* Cor de fundo da scrollbar */
  border-radius: 6px; /* Bordas arredondadas */
}

@media (max-width: 425px) {
  :root {
    font-size: 80%;
  }
}
