.avatar-box {
    display: flex;
    gap: 16px;
    align-items: center;

    font-size: 2rem;
    color: #1da1f2;

}

.avatar-image {
    box-shadow: rgb(163, 163, 163) 4px 4px 10px;
    width: 160px;
    height: 160px;
    border-radius: 50%
}