.container {
  top: 5rem;
  right: 0;
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: column;
}

.nav_item {
  z-index: 100;
  margin-bottom: 8px;
  display: flex;
}

.icon_box {
  z-index: 10;

  font-size: 1.8rem;
  color: black;
  padding: 4px;
  border-radius: 4px 0px;

  background: whitesmoke;

  display: flex;
  justify-content: center;

  cursor: pointer;
}

.icon_box:hover {
  background-color: black;
  color: azure;
}

.nav_item p {
  z-index: 1;
  transform: translateX(-8px);

  font-weight: 600;
  font-size: 1rem;

  background-color: white;

  height: 30px;
  visibility: hidden;
  transition: 200ms ease-in-out;
  width: 0;
  opacity: 0;
}

.nav_item:hover > p {
  /* background-color: black;
  color: azure; */
  opacity: 1;
  padding: 4px 8px;
  visibility: visible;
  width: auto;
  transform: translateX(0px);
  width: fit-content;
}

@media (max-width: 768px) {
}
