.app-view {
  position: relative;
  max-height: 100vh;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
}

section {
  /* scroll-snap-align: initial;
  scroll-snap-stop: always; */
}
