.app-view {
  position: relative;
  max-height: 100vh;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
}

section {
  height: 100vh - 200px;
  padding: 32px 24px;

  padding-top: 6rem;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.max-viewer {
  margin: auto;
  max-width: 1080px;
  width: 100%;
}
